extends layout

block content
 h1=title

 h2=message
 form.form-horizontal(action="/", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="firstName") First Name
          .col-xs-12.col-sm-10
            input#firstName.form-control(name="firstName" required)
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="lastName") Last Name
          .col-xs-12.col-sm-10
            input#lastName.form-control(name="lastName" required)
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="department") Department
          .col-xs-12.col-sm-10
            input#department.form-control(name="department")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="startDate") Start Date
          .col-xs-12.col-sm-10
            input#startDate.form-control(name="startDate")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="jobTitle") Job Tile
          .col-xs-12.col-sm-10
            input#jobTitle.form-control(name="jobTitle")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="salary") Salary
          .col-xs-12.col-sm-10
            input#salary.form-control(name="salary")
        input(type="submit" value="Add Employee") 
