extends layout

block content
    h1=title

    p=removed
    table(border="1")
        thead   
            tr
                th First Name
                th Last Name
                th Department
                th Start Date
                th Job Title
                th Salary
                th
                th
        tbody
        - each stuff in results
            tr
                td 
                    = stuff.firstName
                td 
                    = stuff.lastName
                td 
                    = stuff.department
                td 
                    = stuff.startDate
                td 
                    = stuff.jobTitle
                td 
                    = stuff.salary
                td
                    a(href="../update/#{stuff._id}") Update
                td
                    a(href="../view/#{stuff._id}") Delete