extends layout

block content
    h1= title
    p Welcome to #{title}

    p About: Sed vitae ligula ut lorem tristique fermentum et sed sem. Vivamus sagittis interdum commodo. Duis facilisis sit amet lorem ut pharetra. Sed tincidunt, velit in rutrum efficitur, lectus tellus maximus erat, quis tempus ex arcu et tellus. Vivamus sagittis lorem non lacus facilisis, in luctus dui dictum. Nam maximus feugiat tortor, sed facilisis elit tincidunt ut. Donec sollicitudin mollis lacus ut egestas.